<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878568422491-76k9f6seh5oqqegnrepigqum01f0qb3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878568422491-76k9f6seh5oqqegnrepigqum01f0qb3h</string>
	<key>API_KEY</key>
	<string>AIzaSyAYI5f045BxCFcM-dXPukVpOeGqplPwpP0</string>
	<key>GCM_SENDER_ID</key>
	<string>878568422491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ameenmajas.bookMyShow</string>
	<key>PROJECT_ID</key>
	<string>bookmyshow-3afba</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmyshow-3afba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878568422491:ios:b386d338d4bf2c52b3137e</string>
</dict>
</plist>